<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.unichristus.geometry" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vector.MenuActivity"
            android:label="@string/title_activity_matrix" >
        </activity>
        <activity
            android:name=".vector.adicao.AdicaoVetorialActivity"
            android:label="@string/title_activity_adicao_vetorial" >
        </activity>
        <activity
            android:name=".vector.subtraction.SubtractionVectorialActivity"
            android:label="@string/title_activity_subtraction_vectorial" >
        </activity>
        <activity
            android:name=".vector.escalar.EscalarProductActivity"
            android:label="@string/title_activity_escalar_product" >
        </activity>
        <activity
            android:name=".vector.addition.AdditionVectorActivity"
            android:label="@string/title_activity_addition_vector" >
        </activity>
        <activity
            android:name=".vector.vectorial.VectorialProductActivity"
            android:label="@string/title_activity_vectorial_product" >
        </activity>
        <activity
            android:name=".vector.modulovector.VectorModuloActivity"
            android:label="@string/title_activity_vector_modulo" >
        </activity>
    </application>

</manifest>
